@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.CardLeftPixelEffect {
  @apply relative after:bg-[linear-gradient(transparent,_#49b6f1,_transparent)] after:h-[100px] after:w-[1px] after:absolute after:left-[-1px] after:top-[65%] after:hover:top-[15%] after:transition-all after:duration-500 after:opacity-0 after:hover:opacity-100
}


::-moz-selection {
  /* Code for Firefox */
  color: #49b6f1;
  background: #292a63;
  border-radius: 8px;
  padding: 1rem;
}

::selection {
  color: #49b6f1;
  background: #292a63;
  border-radius: 8px;
  padding: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000004d;
  /* background: #0000004d; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333472;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292a63;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background: linear-gradient(#292a6374, #292a637e 3px, transparent 3px, transparent 9px);
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: pan-overlay 22s infinite linear;
  z-index: -1;
  left: 0px;
  top: 0px;
}